h1 {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

#play_area {
    width: 80%;
    margin: 20px auto;
}

#upper,
#bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 200px auto;
}

#upper > div, #bottom > div{
    margin-left: 10px;
    width: 100px;
}

.empty {
    width: 90px;
    height: 120px;
    border: solid 5px gray;
    margin-top: -130px; 
    border-radius: 10px;
}

.space  {
    width: 100px;
    height: 120px;
    margin-top: -130px; 
}

img{
    width: 100px;
    height: auto;
    /* 画像をずらして重ねる */
    margin-top: -200px; 
}

img.src-select{
    border: 3px solid yellow;
    border-radius: 10px;
}

img.dst-select{
    border: 3px solid green;
    border-radius: 10px;
}

div.src-select{
    border: 5px solid yellow;
    border-radius: 10px;
}

div.dst-select{
    border: 5px solid green;
    border-radius: 10px;
}